/* @override
    http://192.168.2.51/slider/sploder/style.css */

/*
Skin Name: Nivo Slider Dark Theme
Skin URI: http://nivo.dev7studios.com
Description: A dark skin for the Nivo Slider.
Version: 1.0
Author: Gilbert Pellegrom
Author URI: http://dev7studios.com
Supports Thumbs: true
*/

#s-wrapper {
    margin: 0 20px 10px 20px;
        width: 900px;
    height: 460px;
}

#slider {
    height: 441px;
    margin-bottom: 0;
}

.theme-dark.slider-wrapper {
    background: #222 url(loading-bar.gif) no-repeat 50% 50%;
        padding: 10px 10px 10px 10px;
}

.theme-dark .nivoSlider {
    position: relative;
        background: #000 url(loading-bar.gif) no-repeat 50% 50%;
        margin-bottom: 10px;
        overflow: visible;
}

.theme-dark .nivoSlider img {
    position: absolute;
        top: 0px;
        left: 0px;
        display: none;
}

.theme-dark .nivoSlider a {
    border: 0;
        display: block;
}

.theme-dark .nivo-controlNav {
    text-align: center;
    padding: 5px 5px 0 0;
    position: relative;
    z-index: 10;
}

.theme-dark .nivo-controlNav a {
    display: inline-block;
        width: 10px;
        height: 10px;
        background: url(bullets.png) no-repeat 0 2px;
    text-indent: -9999px;
    border: 0;
    margin: 0 2px;
}

.theme-dark .nivo-controlNav a.active {
    background-position: 0 100%;
}

.theme-dark .nivo-directionNav a {
    display: block;
        width: 30px;
        height: 30px;
        background: url(arrows.png) no-repeat;
        text-indent: -9999px;
        border: 0;
}

.theme-dark a.nivo-nextNav {
    background-position: -30px 0;
        right: 15px;
}

.theme-dark a.nivo-prevNav {
    left: 15px;
}

.theme-dark .nivo-caption {
    font-family: Helvetica, Arial, sans-serif;
        padding: 10px 10px 6px 10px;
}

.theme-dark .nivo-caption h3 {
    text-indent: -2px;
        font-style: bold;
        font-weight: 800;
        margin: -10px 0 -2px 0 !important;
}

.theme-dark .nivo-caption h3 a {
    color: #c0c;

}

.theme-dark .nivo-caption a:hover {
    color: #ec0;
        text-decoration: none;
}

.theme-dark .nivo-controlNav.nivo-thumbs-enabled {
    width: 80%;
}

.theme-dark .nivo-controlNav.nivo-thumbs-enabled a {
    width: auto;
    height: auto;
    background: none;
    margin-bottom: 5px;
}

.theme-dark .nivo-controlNav.nivo-thumbs-enabled img {
    display: block;
    width: 120px;
    height: auto;
}

#slider {
    position: relative;
        background: url('/images/hp2/hp_retro_arcade_night.gif') no-repeat top left;
}

#slider img {
    position: absolute;
        top: 0px;
        left: 0px;
        display: none;
}