table.users {
    border: 1px solid #345;
    padding: 15px;
    margin-right: 2px;
    margin-bottom: 20px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}


table.users th {
    padding: 8px;
    color: #def;
}

table.users td {
    margin: 0;
    padding: 0.5em;
    color: #69a;
}

table.users td.userlink {
    width: 180px;
}

table.users td.rank {
    color: #3bc;
}

table.users td.stat {
    width: 50px;
}

table.users tr.even td {
    background-color: #234;
    color: ;
}

table.users tr.odd td {
    background-color: #123;
}

table.users tr.iconsmall {
    line-height: 24px;
    min-height: 20px;
}

table.users tr.iconsmall img {
    vertical-align: middle !important;
    margin: 0 10px 0 0;
    float: left;
}