div.treemap
    {
    margin-bottom: 4px;
    font-family: Lucida Grande, Lucida Sans Unicode, Tahoma, Arial, sans serif;
    }

div.treemap div.node
    {
    float: left;
    clear: none;
    background-color: #ff0066;
    overflow: hidden;
    }

div.treemap a.textnode
    {
    display: block;
    font-size: 10px;
    text-align: center;
    width: 100%;
    height: 100%;
    background-image: url(../chrome/textnode-border.gif);
    display: block;
    float: left;
    color: #fff;
    overflow: hidden;
    background-color: #ff0066;
    text-decoration: none;
    overflow: hidden;
    }

div.treemap a.textnode:hover
    {
    background-image: url(../chrome/textnode-border-hover.gif);
    }

div.treemap a.proper
    {
    background-color: #DE9949;
    }

div.treemap a.textnode img
    {
    vertical-align: middle;
    border: none;
    }